altair
anyio
attrs
blinker
cachetools
certifi
charset-normalizer
click
contourpy
cycler
fonttools
gitdb
GitPython
h11
httptools
idna
itsdangerous
Jinja2
joblib
jsonschema
jsonschema-specifications
kiwisolver
MarkupSafe
matplotlib
narwhals
networkx
numpy
pandas
pillow
plotly
protobuf
pyarrow
pycountry
pydeck
pyparsing
python-dateutil
python-multipart
referencing
requests
rpds-py
scikit-learn
scipy
seaborn
six
smmap
starlette
streamlit
tenacity
threadpoolctl
toml
typing_extensions
urllib3
uvicorn
websockets